@charset "UTF-8";

body{
    background-color: rgb(189, 138, 255);
}

h1{
    font: bold 39px cusive;
    text-align: center;
    text-shadow: 2px 2px 2px #d8d8d8;
    color: #350063;
}   

h2{
    font: bold 28px cusive;
    text-shadow: 2px 2px 2px #d8d8d8;
    color: #350063;
}

p{
    font: bold 17px cusive;
}

section{
    background-color: rgb(237, 205, 255);
    padding: 30px;
    border-radius: 20px;
    width: 580px;
    margin: auto;
}