#bjlogo{
    width: 160px;
    margin-top: 25px;
    margin-left: 35px;
}

body{
    background-color: #e8f2e8;
}

h1{
    margin-left: 315px;
    text-shadow: 1px 1px 2px #13293db0;
    color: #005724;
    width: 75%;
    font: bold 44px cursive;
}

h2{
    font: bold 24px cursive;
    text-shadow: 1px 1px 2px #364702;
    color: #005724;
}

p,li{
    font: normal 17px arial;
    text-align: justify;
}

#cr, #sr, #esp{
    background-color: #73912163;
    border-radius: 19px;
    margin: auto;
    padding: 20px;
    width: 63%;
    box-shadow: 2px 2px 2px rgb(109, 109, 109);
}

#plan1{
    margin-left: 30px;
}

#print-sol{
    width: 80%;
    margin: auto;
    display: block;
}
#plan1{
    width: 50%;
    margin: auto;
    display: block;
}
#plan2{
    width: 61%;
    margin: auto;
    display: block;
}